<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRY-MWjruOWLSy2bs6gCKITxsJKFuW9cc</string>
	<key>GCM_SENDER_ID</key>
	<string>808298191659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jinApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>jinfamily-1cda5</string>
	<key>STORAGE_BUCKET</key>
	<string>jinfamily-1cda5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808298191659:ios:eeb4a9fae545a1d821c36e</string>
</dict>
</plist>